@use '../../styles/mixins';
@use '../../styles/palette';

.card {
    @include mixins.flexing(column, center, center);
    flex-wrap: wrap;
    width: 250px;
    height: 300px;
    background-color: palette.$SecondaryOrange;
    border-radius: 20px;
    padding: 10px;
    transition: 0.2s;
    img{
        @include mixins.flexing(row,center, center);
        height: 100px;
        width: auto;
        border-radius: 5px;
    }
    &:hover{
        scale: 1.1;
        transition: 0.2s;
    }

}