@use '../../styles/mixins';
@use '../../styles/palette';

.control {
    @include mixins.flexing(column,center,center);
    height: 320px;
    width: 200px;
    margin: 5px;
    overflow: hidden;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    h2{
        padding: inherit;
        margin: 0px;
    }
    img{
        height: 100px;
        width: auto;
    }

    &__stats{
        @include mixins.flexing(row, space-between, center);
        width: auto;
        background-color: white;
        color: black;
        padding: 5px;
        border-radius: 10px;
        gap: 10px;
    }
}